/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Michroma);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700,300,600,800,400);


/*
font-family: 'Michroma', sans-serif;
*/



.header-main{
    border-radius: 0px !important;
    height:70px !important;
    background-color: rgba(35,35,35,.5) !important;
    border-color: rgba(35,35,35,.5) !important;
}

.header-footer{
    border-radius: 0px !important;
    height:40px !important;
    background-color: black !important;
    color: white !important;
    border-color: transparent !important;
}

/*
.logo-png{
    width: 80px !important;
    padding-top: 5px;
}*/

.link-logo{
    padding: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.link-logo img{
    padding: 0px !important;
    margin: 0px !important;
}
/*.link-logo img,.link-logo span{
    display:inline-block !important;
}*/
.titulo-pre{
    font-family: 'Michroma', sans-serif;
}
.link-logo span{
    position: absolute;
    font-family: 'Michroma', sans-serif;
    /*font-size: 30px !important;*/
    
}
.link-logo .geo{
    font-family: 'Michroma', sans-serif;
    color: white !important;
    /*font-size: 20px !important;
    left: 90px;
    top:30px;*/
}

.link-logo .inmueble{
    font-family: 'Michroma', sans-serif;
    /*font-size: 20px !important;*/
    color: white !important;
    /*left: 182px;
    top:30px;*/
}
.contenedor-mapa-index{
    margin-top: 0px;
}

.menu-index li a{
    padding-bottom: 22px !important;
    padding-top: 22px !important;
    color: black !important;
}
.menu-index li a:hover{
    color: white !important;
}

.busquedas_inmueble{
    position: fixed !important;
    background-color: rgba(35,35,35,.5) !important;
    top: 110px;
    left: 10px;
    z-index: 1000;
    color:white;
}

#growl_container{
    z-index: 2000;
}


/*--------------  spinner  ----------------------*/

.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}

.spinner2 {
  width: 100px;
}
.spinner2 input {
  text-align: right;
}

.spinner3 {
  width: 100px;
}
.spinner3 input {
  text-align: right;
}

.spinner4 {
  width: 100px;
}
.spinner4 input {
  text-align: right;
}

.spinner5 {
  width: 100px;
}
.spinner5 input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

/*--------------  spinner  ----------------------*/

.check-buscador{
    width: 15px !important;
    height:15px !important;
}

.group-chebox-buscador{
    margin-top: 20px;
}

.boton-index{
   margin-top: 15px;
   margin-bottom: 15px; 
}

.contenedor-detalle{
    margin-top: 100px;
}

.carousel{
    margin: 0px !important;
}

#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}

.button {
  display: inline-block;
  margin: 0;
  padding: .461em 1.563em .41em;
  color: #fff!important;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  line-height: 1;
  font-size: .9em;
  cursor: pointer;
  font-family: "proxima-nova", sans-serif;
  border: 1px solid #1a4064;
  background: #255a8c;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
}
.button:active  {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.button.green  {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #578824;
  background: #71b02f;
}
.button.green:hover  {
  background: #79bc32;
}

/* Loading
***********************/
.loading #container {opacity: 0;}
.loading:before  { content: 'LOADING'; display: block; margin: 100px 0 0; text-align: center; color: #fff; font-weight: bold; font-size: 60px; opacity: 0.3; }

/*NUEVO TEMA*/




/* BOOSTRAP CUSTOMIZATION
================================================== */
.navbar {margin-bottom:0;}
.navbar-default {background:none; border:none;}
.nav.nav-tabs {margin-bottom:22px;}
.btn:active, .btn.active{
-webkit-box-shadow:none;box-shadow:none
}
.container .jumbotron{border-radius: 0;}
.jumbotron {font-size: 16px;}
.jumbotron h1 {text-align: left;}
/*forms*/
.form-control {-webkit-box-shadow:none;box-shadow:none}
.has-error div {padding: 5px;
margin-bottom: 20px;
display:block;
}
/*tabs*/
.panel-default>.panel-heading{
 -webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}
.panel-default {
	border:none;
}
.navbar-default .navbar-toggle {
	margin-top: 22px;
}
/*** MEDIA QUERIES ***/

@media(max-width:767px){
}

@media(min-width:768px){}

@media(min-width:992px){}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/

/* END BOOSTRAP CUSTOMIZATION
================================================== */

/* 
SCHMOLL CREATIVE, LLC
*/

/* BOOSTRAP CUSTOMIZATION
================================================== */

/** tabs **/
.panel-default>.panel-heading {background:#565656; color:white !important;}
.panel-title>a {color:#fff;}

/* END BOOSTRAP CUSTOMIZATION
================================================== */

/* TYPOGRAPHY
================================================== */

body {
	color:#777;
	background: #fff;
}

blockquote small {
	color:inherit;
}
h1, h2, h3, h4, h5, h6 {
	color:#222;
}
h2 {
 color:#888;	
}
h2 i {color:#999}
h2.subTitle:after, h1.noSubtitle:after{
	background-color:#565656;
}

h6 {color:#ffffff}

/*** parallax sections ***/

.paralaxText blockquote:before, .paralaxText blockquote:after {
	color:#fff;
}
#home, #paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #paralaxSlice4 {
	background-color:#34424d;
}
#home {
	background-image:url('images/slide.png');
}

* 
#paralaxSlice1 {
	background-image: url('../images/sitepics/slice1.jpg');
}
#paralaxSlice2 {
	background-image: url('#');
}
#paralaxSlice3 {
	background-image: url('#');
}
#paralaxSlice4 {
	background-image: url('#');
}
#paralaxSlice5 {
	background-image: url('../images/sitepics/slice2.jpg');

}
.paralaxText blockquote, .paralaxText h1, .paralaxText h2, .paralaxText h3, .paralaxText p, .paralaxText i{
	color:#fff;
}

/* END TYPOGRAPHY
================================================== */

/* LINKS AND BUTTONS
================================================== */

a {
	color:#2f88d3;
	font-weight: 300;
}
a:hover, .scrollspyNav .active a {
	color: #2f88d3;
}
ul.iconsList li a {
	color:#555
}
ul.iconsList li a:hover, ul.iconsList i {
	color:#3090bc
}

/*** buttons ***/
.btn {
	background:#3090bc;
	color:#fff;
	border:2px solid #fff;
}
.btn:hover {
	color:#3090bc;
	border-color:#eee;
	text-shadow:none;
	background:#fff
}
.btn-primary {
	background: #006dcc;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background: #555;
}
.btn-info {
	background: #49AFCD;
}
.btn-success {
	background: #5BB75B;
}
.btn-warning {
	background: #FAA732;
}
.btn-danger {
	background: #DA4F49;
}
.btn-link, .btn-link:active, .btn-link[disabled], .btn-link:hover {
	background:none;
	border:none;
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow: none;
	color:#49AFCD;
}
.btnWrapper {
	border:1px solid #ccc;
}

/* END LINKS AND BUTTONS
================================================== */

/* MAIN MENU 
================================================== */

#mainHeader{
    background-color: #58585a;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

#mainHeader .navbar-inner {
	
	filter:none !important;
}
#mainMenu ul li a, #resMainMenu ul li a {
	color:#444;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #3090bc;
	color:#fff;
}

/* END MAIN MENU 
================================================== */


/* TYPOGRAPHY
================================================== */

body {
	font-size:16px;
	line-height: 22px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	padding-top: 88px;
}
h1, h2, h3, h4, h5, h6, legend {
	margin:0;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}
h1 {
	font-size: 44px;
	line-height: 44px;
	font-weight: 300;
	font-style: normal;
	text-align:center;
	position:relative;
	letter-spacing: 0.1em;
	margin-bottom: 17px;
}

h1.noSubtitle{
	margin-bottom:90px;
}


.bigTitle, h1.bigTitle, h2.bigTitle, h3.bigTitle {
	font-weight: 800;
	font-size: 5em;
	line-height:1em;
	padding:0.5em 0;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}


.paralaxText h2 {
	font-size: 3.21em;
	font-weight: 800;
	line-height:1.5em;
	padding:0.5em 0;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.paralaxText blockquote {
	font-size: 33px;
	line-height: 33px;
	margin-bottom: 0;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	padding-left: 0;
	border: none;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	letter-spacing: 0.1em;
}


h2 {
	font-size:24px;
	line-height: 24px;
	font-weight: 300;
	font-style: normal;
	padding:0;
	margin-bottom:17px;

}
h2.subTitle{
	font-size:24px;
	line-height: 24px;
	font-weight: 300;
	font-style: normal;
	padding:0;
	margin-bottom:90px;
	text-align:center;
}
h2.subTitle:after, h1.noSubtitle:after {
	display:block;
	height:1px;
	width:100px;
	content:'';
	bottom:-37px;
	position:absolute;
	margin-left:-50px;
	left:50%;
}




/* MAIN MENU
================================================== */
.navbar-nav > li > a {
    display: block;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
	padding-top:11px;
	padding-bottom:11px;
	vertical-align:middle;
    text-decoration: none;
   	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.navbar-nav > li > a i {font-size: 16px; text-align: center;padding: 30px 0 10px 0; color:#ccc;}
.navbar-nav > li > a:hover i, .navbar-nav > li.active > a i {color:#fff;}
#mainHeader .pull-right{ float:none !important; }

/*** MEDIA QUERIES ***/

@media(max-width:767px){
	.navbar-nav > li > a i {
		margin-right: 10px;
		font-size: 18px;
	}
}

@media(min-width:768px){
	.navbar-nav > li > a i {
		display: block;
	}
	.navbar-nav > li > a {
		padding-top:0;
		padding-bottom:0;
		height:100px;
	}
}

@media(min-width:992px){}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/

/* END MAIN MENU
================================================== */

/* MISCELANIOUS
================================================== */

/* Preloader one page */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:10000; /* makes sure it stays on top */
	background:white;
	text-align: center;
}

#status {
	width:100%;
	height:100px;
	position:absolute;
	left:0; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	
	margin-top:-100px; /* is width and height divided by two */
	text-align: center;
	padding-top:15px;
	border-radius:11px;
}
#status img{margin-bottom: 22px;}

/*** hover images ***/
.imgHover article {
	position:relative;
}
.mask {
	position:absolute;
	top:0;
	left:15px;
	background: rgba(79, 175, 194, 1);
	/*width:100%;*/
	display:none;
    z-index:0;
}
.iconLinks {
	display:none;
    position: relative;
}

.iconLinks a{  
    display: inline-block;
    text-decoration:none;

}
.iconLinks a:hover i{     
    -webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.iconLinks a span{
	position: relative;
	top: -30px;
	font-size: 16px;
	text-align: center;
	width: 100%;
	display: block;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;

}


/*** MEDIA QUERIES ***/

@media(max-width:767px){}

@media(min-width:768px){}

@media(min-width:992px){}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/

/* END MISCELANIOUS
================================================== */



/* MEDIA QUERIES
================================================== */


@media(max-width:767px){




}

@media(min-width:768px){

    .navbar-brand>img{
    width: 103px;
    }

    #mainHeader .pull-right {
        float: right !important;
    }

}
@media(min-width:992px){
    .navbar-brand>img{
        width:auto;
    }

}
@media(min-width:1200px){



}

/* END MEDIA QUERIES
================================================== */

/* Preloader one page */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10000; /* makes sure it stays on top */
    background:white;
    text-align: center;
}

#status {
    width:100%;
    height:100px;
    position:absolute;
    left:0; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    
    margin-top:-100px; /* is width and height divided by two */
    text-align: center;
    padding-top:15px;
    border-radius:11px;
}
#status img{margin-bottom: 22px;}

/*** hover images ***/
.imgHover article {
    position:relative;
}
.mask {
    position:absolute;
    top:0;
    left:15px;
    background: rgba(79, 175, 194, 1);
    /*width:100%;*/
    display:none;
    z-index:0;
}


@media(max-width:767px){
    #map{
        height: 400px;
    }
    .logo-png{
        width: 40px !important;
        padding-top: 5px;
    }
    
    .link-logo img,.link-logo span{
        display:block !important;
    }
   
    .link-logo span{
        font-size: 15px !important;
    }
    .link-logo .geo{
        font-size: 15px !important;
        left: 98px;
        top:30px;
    }

    .link-logo .inmueble{
        font-size: 15px !important;
        left: 190px;
        top:30px;
    }
    
    .busquedas_inmueble{
        top: 0px;
        position: relative !important;
        z-index: 0 !important;
    }
    
    .contenedor-busquedas{
        padding-top: 0px;
        padding-bottom: 0px !important;
        display: -webkit-inline-box;
    }
}

@media(min-width:768px){
    #map{
        height: 500px !important;
    }
    .logo-png{
        width: 60px !important;
        padding-top: 5px;
    }
    
    .link-logo img,.link-logo span{
        display:block !important;
    }
   
    .link-logo span{
        font-size: 15px !important;
    }
    .link-logo .geo{
        font-size: 15px !important;
        left: 98px;
        top:30px;
    }

    .link-logo .inmueble{
        font-size: 15px !important;
        left: 190px;
        top:30px;
    }
    .contenedor-busquedas{
        padding-top: 0px;
        padding-bottom: 0px !important;
        display: -webkit-inline-box;
    }

}

@media(min-width:992px){
    #map{
        height: 500px !important;
    }
    
    .logo-png{
        width: 80px !important;
        padding-top: 5px;
    }
    
    .link-logo img,.link-logo span{
        display:inline-block !important;
    }
   
    .link-logo span{
        font-size: 20px !important;
    }
    .link-logo .geo{
        font-size: 20px !important;
        left: 98px;
        top:30px;
    }

    .link-logo .inmueble{
        font-size: 20px !important;
        left: 190px;
        top:30px;
    }
    
    .contenedor-busquedas{
        padding-top: 20px;
        padding-bottom: 20px !important;
    
    }
}

@media(min-width:1200px){
    #map{
        height: 800px;
    }
    .logo-png{
        width: 80px !important;
        padding-top: 5px;
    }
    
    .logo-png{
        width: 80px !important;
        padding-top: 5px;
    }
    
    .link-logo img,.link-logo span{
        display:inline-block !important;
    }
   
    .link-logo span{
        font-size: 25px !important;
    }
    .link-logo .geo{
        font-size: 25px !important;
        left: 98px;
        top:30px;
    }

    .link-logo .inmueble{
        font-size: 25px !important;
        left: 190px;
        top:30px;
    }
    .contenedor-busquedas{
        padding-top: 20px;
        padding-bottom: 20px !important;
    
    }

}

